<% layout("layouts/boilerplate") %>
<body>
    <h3 class="offset-2"><b><%= listing.title %></b>
    </h3>
            <div class="card listing-card " >
            <img src="<%= listing.image %>" class="card-img-top offset-2" alt="listing_image"   style="width:35rem !important; height: 20rem;" >
            <div class="card-body">
              <p class="card-text offset-2">
                Owned By:@ <b> <%= listing.owner.username %></b><br><br>
                    <%= listing.description %><br><br>
                    &#8377;<%= listing.price %>/night<br><br>
                    <%= listing.location %><br><br>
                    <%= listing.country %><br><br>
              
             

              </p>
              <% if(currentUser && currentUser._id.equals(listing.owner._id)){ %>
              <div class="btnss offset-2">
                <form method="GET" action="/listings/<%= listing._id %>/edit" >
                    <button class="edit-btn ">EDIT </button>
                </form>
    
                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                    <button class="del-btn  " style="background-color: #121212 !important;">DELETE</button>
                </form>        
              </div>
              <% } %>

              <hr class="offset-2">
            
              <div class="offset-2">
                <% if(currentUser){ %>
                <h4>Leave a review</h4>
                <form method="POST" action="/listings/<%= listing._id %>/reviews" >
                  <div class="mb-3">
                      <label for="rating" class="form-label">Rate your Experience!!!</label>
                      <input name="review[rating]"  type="range" class="form-range" min="1" max="5" >
                     
                  </div>
                  <div class="mb-3">
                      <label for="comment" class="form-label">Comment</label>
                      <textarea placeholder="Write a comment about your experience" name="review[comment]"  class="form-control " rows="10" cols="15"  required></textarea>
                      
                  </div>
                
               <button class="btn btn-dark edit-btn">Submit</button><BR><BR><BR>
                  </form>
              <% } %>
            </div>

              <hr class="offset-2">


            <h4 class="offset-2">All Reviews</h4>
            <div class="row">
            <% for(review of listing.reviews){ %>
              <div class="card offset-2 col-1 mb-3" style="width: 18rem;">
                <div class="card-body">
                  <h5> <%= review.author.username %></h5>
                  <p class="card-text"><%= review.comment %><br><%= review.rating %> &#9733;</p>
                </div>
                <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">                
                    <br>  <button class=" btn btn-sm btn-dark del-btn  " style="background-color: black !important;">DELETE</button><br><br>


                </form>
              </div>

              <% } %>
            </div>

                    
   
            



            
            </div>
          </div>
    
    
         
</body>
</html>






<!-- 





-->