<% layout("layouts/boilerplate") %>
<body>
    <h3>Listing Details</h3>
            <div class="card " >
            <img src="<%= listing.image %>" class="card-img-top offset-1.5" alt="listing_image"   style="width: 15rem;" >
            <div class="card-body">
              <p class="card-text">
             
                    <b><%= listing.title %></b><br><br>
                    <%= listing.description %><br><br>
                    &#8377;<%= listing.price.toLocaleString("en-IN") %>/night<br><br>
                    <%= listing.location %><br><br>
                    <%= listing.country %><br><br>
              
             

              </p>
              <div class="btnss ">
                <form method="GET" action="/listings/<%= listing._id %>/edit" >
                    <button class="edit-btn ">EDIT </button>
                </form>
    
                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                    <button class="del-btn  " style="background-color: #121212 !important;">DELETE</button>
                </form>        
                
                
              </div>
            </div>
          </div>
    
    
         
</body>
</html>